@charset "utf-8";

.main-body{margin-top:20px;}
.main-body .main-le{width:240px; float:left;}
.main-body .main-le .listbox{background: #eff1f6;padding:17px 0;}
.main-body .main-le .listbox .item{width:160px;height:26px;line-height:26px;padding:5px 20px ;margin:0 auto;background: #4181c2;margin-bottom:10px;}
.main-body .main-le .listbox .item.active{background: #ff9724;}
.main-body .main-le .listbox .item > .img{width:20px;height:26px;float:left;margin-right:10px;}

.main-body .main-le .listbox .item > .title-info{height:20px;float:left;}
.main-body .main-le .listbox .item > .title-info a{font-size: 16px;color:#FFF;}
.main-body .main-le .listbox .item > .img.analyse{background: url("../images/analyse.png") no-repeat center center;}
.main-body .main-le .listbox .item > .img.technology{background: url("../images/technology.png") no-repeat center center;}
.main-body .main-le .listbox .item > .img.people{background: url("../images/people.png") no-repeat center center;}
.main-body .main-le .listbox .item > .img.inventor{background: url("../images/inventor.png") no-repeat center center;}
.main-body .main-le .listbox .item > .img.china{background: url("../images/china.png") no-repeat center center;}
.main-body .main-le .listbox .item.active + ul{display:block;}
.main-body .main-le .listbox .item + ul{display:none;margin-bottom:10px;}
.main-body .main-le .listbox .item + ul li.active{background:url("../images/active-icon.png") no-repeat 33px center #FFF;}
.main-body .main-le .listbox .item + ul li.active a{color:#4181c2;}
.main-body .main-le .listbox .item + ul li{background: url("../images/list-icon.png") no-repeat 33px center;height:15px;line-height:15px;padding:10px 5px 10px 52px;}
.main-body .main-le .listbox .item + ul li a{width:154px;font-size: 14px;color:#333;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}


.main-body .main-ri{width:910px;float:right;background: #FFF;padding: 20px;}
.main-body .main-ri .ri-top{border:1px solid #d5dbe7;}
.main-body .main-ri .ri-top .w-94{width:94px;}
.main-body .main-ri .ri-top .w-193{width:193px;}
.main-body .main-ri .ri-top .w-213{width:213px;}
.main-body .main-ri .ri-top .w-115{width:115px;}
.main-body .main-ri .ri-top .w-50{width:50px;}
.main-body .main-ri .ri-top table tr{border-bottom:1px solid #d5dbe7;}
.main-body .main-ri .ri-top table thead th{font-size: 14px;color:#333;padding:15px 0;}
.main-body .main-ri .ri-top table tbody td{padding:15px 0;position: relative;text-align: center;font-size: 14px;color:#666;}
.main-body .main-ri .ri-top table tbody td.t-le{text-align: left;}

.main-body .main-ri .ri-top table tbody tr td .control{width:56px;height:24px;position: absolute;top:50%;left:22px;margin-top:-12px;background: url("../images/gray.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td .control span.co-text{display:block;width:24px;height:12px;position:absolute;top:6px;left:25px;font-size: 10px;color:#999;}
.main-body .main-ri .ri-top table tbody tr td .control .circular{
    position: absolute;display:block;width:22px;height:22px;
    background: url("../images/circular.png") no-repeat center center;
    top:1px ;
    left:1px;
}
.main-body .main-ri .ri-top table tbody tr td a.operation{width:18px;height:18px;}
.main-body .main-ri .ri-top table tbody tr td a.edit{background: url("../images/edit.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td a.edit:hover{background: url("../images/edit-hover.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td a.delete{background: url("../images/delete.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td a.delete:hover{background: url("../images/delete-hover.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td a.see{background: url("../images/see.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td a.see:hover{background: url("../images/see-hover.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td a.clear-img{background: url("../images/clear.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr td a.clear-img:hover{background: url("../images/clear-hover.png") no-repeat center center;}


.main-body .main-ri .ri-top table tbody tr.active{background: #eff1f6;}
.main-body .main-ri .ri-top table tbody tr.active td .control{background: url("../images/green_active.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr.active td .control span.co-text{top:6px;left:6px;color:#FFF;}
.main-body .main-ri .ri-top table tbody tr.active td .control .circular{
    background: url("../images/circular.png") no-repeat center center;
    top:1px ;
    left:33px;
}
.main-body .main-ri .ri-top table tbody tr.active td a.edit{background: url("../images/edit-hover.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr.active td a.delete{background: url("../images/delete-hover.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr.active td a.see{background: url("../images/see-hover.png") no-repeat center center;}
.main-body .main-ri .ri-top table tbody tr.active td a.clear-img{background: url("../images/clear-hover.png") no-repeat center center;}

.main-body .main-ri .ri-bottom{margin-top:20px;border:1px solid #d5dbe7;}
.main-body .main-ri .ri-bottom .ri-b-t{padding:12px 0 12px 21px;background: #eff1f6;border-bottom:1px solid #d5dbe7;}
.main-body .main-ri .ri-bottom .ri-b-t h2{font-size: 16px;color:#333;}
.main-body .main-ri .ri-bottom .ri-b-l {width:620px;float:left;border-right:1px solid #d5dbe7;}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form{
    background-color: #fff;
    width: 100%;
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form{
    padding: 10px 0 10px 255px;
    position: relative;
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form label{
    font-size: 1.3em;
    color: rgb(51,51,51);

}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form input{
    width: 40px;
    height: 20px;
    border: 1px solid rgb(213,219,231);
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form .graph-type-group{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -9px;
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form .graph-type-group .graph-type{
    width: 18px;
    height: 18px;
    margin-left: 12px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    cursor: pointer;
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form .graph-type-group .type1{
    background-image: url("../images/analysis-icon-01.png");
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form .graph-type-group .type2{
    background-image: url("../images/analysis-icon-02.png");
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form .graph-type-group .type3{
    background-image: url("../images/analysis-icon-03.png");
}
.main-body .main-ri .ri-bottom .ri-b-l .graph-form form .graph-type-group .type4{
    background-image: url("../images/analysis-icon-04.png");
}
.main-body .main-ri .ri-bottom .ri-b-r {width:287px;float:left;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-m,
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t{border-bottom:1px solid #d5dbe7;padding:20px;}
.main-body .main-ri .ri-bottom .ri-b-r  h3{font-size: 14px;color:#333;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div {height:40px;line-height: 40px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div span{font-size: 12px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.option select {width:160px;margin:0 5px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.option a {font-size: 12px;color:#333;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div select{width:70px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab{
    width: 100%;
    margin-top: 5px;
    height: auto;
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab .tab-group{
    position: relative;
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab .tab-group .add-btn{
    width: 11px;
    height: 11px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5.5px;
    background-image: url("../images/add.png");
    cursor: pointer;
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab .tab-group a{
    padding: 4px 15px;
    font-size: 1.2em;
    line-height: normal;
    background-color: #fff;
    color: #000;
    float: left;
    position: relative;
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab .tab-group a i{
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -1px;
    background-color: #fff;
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab .tab-group .active{
    border-left: 1px solid rgb(213, 219, 231);
    border-right: 1px solid rgb(213, 219, 231);
    border-top: 1px solid rgb(213, 219, 231);
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab .tab-content{
    border: 1px solid rgb(213, 219, 231);
    min-height: 110px;
    max-height: 110px;
    overflow-y: auto;
    line-height: normal;
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-t >div.container-tab .tab-content p{
    padding: 10px 15px 0 15px;
    font-size: 1.2em;
}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-m >ul li{overflow: hidden;padding:9px 0;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-m >ul label{float:left;max-width: 154px;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;font-size: 12px; }
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-m >ul span{float:right;width:73px;text-align: center;font-size: 12px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-m >ul span a{color:#4181c2;font-size: 12px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-m >ul i{width:1px;height:10px;border-left:1px solid #d3d3d3;margin:0 5px;}

.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-b {padding-top:20px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-b a{padding-left:31px;margin-left:3px;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-b a.analysis-btn{background: url("../images/btn_1.png") no-repeat 8px center #ff9724;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-b a.statistics{background: url("../images/btn_2.png") no-repeat 8px center #709bc2;}
.main-body .main-ri .ri-bottom .ri-b-r .ri-b-r-b a.save{background: url("../images/btn_3.png") no-repeat 8px center #709bc2;}







