.normal-dialog{
    width: 1080px;
}
.normal-dialog-header{
    background-color: rgb(242,244,249);
}
.normal-dialog-header .btn-tab{
    padding: 15px 110px;
    font-size: 16px;
    color: rgb(133,133,133);
    float: left;
    font-weight: bold;
    background-color: rgb(242,244,249);
}
.normal-dialog-header .btn-tab.active{
    color: rgb(65,129,194);
    background-color: #fff;
}
.normal-dialog-content{
    background-color: #fff;
    padding: 50px 20px 20px 20px;
}
.normal-dialog-content>div.clear{
    height: 490px;
}
.normal-dialog-content .graph-area{
    float: left;
    height: 100%;
    width: 720px;
    border: 1px solid rgb(65,129,194);
}
.normal-dialog-content .graph-area .graph-header{
    background-color: rgb(65,129,194);
    height: 35px;
    line-height: 35px;
}
.normal-dialog-content .graph-area .graph-header h1{
    color: #fff;
    font-size: 15px;
    padding-left: 10px;
}
.normal-dialog-content .country-area{
    float: right;
    width: 295px;
    height: 100%;
    border: 1px solid rgb(213,219,231);
}
.normal-dialog-content .country-area table{
    width: 100%;
    text-align: center;
}
.normal-dialog-content .country-area table th{
    background-color: rgb(239,241,246);
    color: rgb(98,98,98);
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    vertical-align: middle;
    word-wrap: break-word;
}
.normal-dialog-content .country-area table td{
    color: rgb(98,98,98);
    font-size: 15px;
    padding: 10px 0;
    vertical-align: middle;
    word-wrap: break-word;
    border-bottom: 1px dashed rgb(240,240,240);
}
.normal-dialog-content .country-area table td span{
    padding-left: 35px;
    position: relative;
}
.normal-dialog-content .country-area table td span i{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 24px;
    height: 16px;
}
.normal-dialog-content .country-area table td span i.flag-cn{

    background-image: url("../images/china.png");
}
.normal-dialog-content .text-area{
    margin-top: 20px;
}
.normal-dialog-content .text-area .area1 .title{
    color: #000;
}
.normal-dialog-content .text-area .area1 .value{
    color: rgb(65,129,194);
}
.normal-dialog-content .text-area .area2{
    margin-left: 180px;
}
.normal-dialog-content .text-area .area2 span{
    color: rgb(215,30,30);
}
.normal-dialog-content .text-area .in-bl span{
    font-size: 14px;
}
.normal-dialog-content .text-area .btn-group{
    margin-top: 50px;
    text-align: center;
}
.normal-dialog-content .text-area .btn-group .btn{
    width: 125px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(65,129,194);
    font-size: 14px;
    padding: 0;
    text-align: center;
    border-radius: 4px;
}

