
.tab-content{
    background-color: #fff;
    margin-top: 20px;
}
.tab-content .wrapper{
    padding: 20px;
    position: relative;
}
.tab-content .wrapper .famn-search-header{
    height: 28px;
    position: absolute;
    padding: 0 20px;
    left: 0;
    right: 0;
}
.tab-content .wrapper .famn-search-header h1{
    color: rgb(51,51,51);
    border-bottom: 2px solid rgb(65,129,194);
    font-size: 1.8em;
    width: 85px;
    float: left;
    line-height: 20px;
    height: 100%;
}
.tab-content .wrapper .famn-search-header .hr{
    float: right;
    height: 100%;
    border-bottom: 2px solid rgb(213,219,231);
    width: 1060px;
}
.tab-content .wrapper .search-form{
    margin: 60px 0 20px 0;
    padding: 0 370px 0 0;
    position: relative;
}
.tab-content .wrapper .search-form .search-condition{
    margin-bottom: 25px;
}
.tab-content .wrapper .search-form .search-condition>div.in-bl{
    margin-right: 30px;
}
.tab-content .wrapper .search-form strong,.tab-content .wrapper .search-form label{
    font-size: 1.3em;
    color: rgb(114,114,114);
}
.tab-content .wrapper .search-form .search-input input[type='text']{
    width: 685px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 5px;
    border: 1px solid rgb(213,219,231);
}
.tab-content .wrapper .search-form .btn-group{
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    line-height: 30px;
}
.tab-content .wrapper .search-form .btn-group .btn{
    padding: 0;
    width: 75px;
    height: 100%;
    text-align: center;
    margin-left: 15px;
    font-size: 1.3em;
    border-radius: 3px;
}
.tab-content .wrapper .search-form .btn-group .generate{
    padding-left: 25px;
    height: 100%;
    color: rgb(65,129,194);
    font-size: 1.3em;
    background-image: url("../images/generate-icon.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    margin-left: 45px;
}
.tab-content .wrapper .search-form .btn-group .btn-search{
    background-color: rgb(65,129,194);
}
.tab-content .wrapper .search-form .btn-group .btn-reset{
    background-color: rgb(237,237,237);
    color: rgb(119,119,119);
}
.tab-content .wrapper .container-table{
    background-color: rgb(242,244,249);
    padding: 15px 10px 0 10px;
    width: 575px;
    height: 620px;
    float: left;
}
.tab-content .wrapper .container-table .table-header{
    margin-bottom: 15px;
}
.tab-content .wrapper .container-table .table-header h1{
    color: rgb(65,129,194);
    font-size: 1.4em;
}
.tab-content .wrapper .container-table .table-wrapper{
    border: 1px solid rgb(214,220,234);
    height: 570px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 5px 10px 5px;

}
.tab-content .wrapper .container-table .table-wrapper table{
    width: 100%;
}
.tab-content .wrapper .container-table .table-wrapper table th{
    padding: 10px 0;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
    color: rgb(102,102,102);
    border-bottom: 1px solid rgb(236,236,237);
}
.tab-content .wrapper .container-table .table-wrapper table td{
    padding: 10px 0;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid rgb(236,236,237);
    color: #000;
}
.tab-content .wrapper .container-table .table-wrapper table td label{
    color: rgb(65,129,194);
}
.tab-content .wrapper .container-info{
    float: right;
    width: 530px;
    height: 635px;
}
.tab-content .wrapper .container-info .box{
    background-color: rgb(242, 244, 249);
    padding: 10px;
}
.tab-content .wrapper .container-info .box.box-detail{
    margin-top: 25px;
}
.tab-content .wrapper .container-info .box .box-header{
    margin-bottom: 10px;
    height: 25px;
    line-height: 25px;
}
.tab-content .wrapper .container-info .box .box-header h1{
    font-size: 1.4em;
    color: rgb(65,129,194);
    margin-right: 10px;
    float: left;
    height: 100%;
}
.tab-content .wrapper .container-info .box .box-header .select-group{
    float: left;
    height: 100%;
}
.tab-content .wrapper .container-info .box .box-header .select-group select{
    height: 100%;
    width: 80px;
    color: rgb(114,114,114);
    border: 1px solid rgb(214,220,234);
    font-size: 1.2em;
}
.tab-content .wrapper .container-info .box .box-header .btn-group{
    float: right;
    height: 100%;
}
.tab-content .wrapper .container-info .box .box-header .btn-group .btn{
    height: 100%;
    text-align: center;
    padding: 0;
    margin-left: 5px;
    border-radius: 3px;
    font-size: 1.2em;
}
.tab-content .wrapper .container-info .box .box-header .btn-group .btn-back-to-default{
    background-color: rgb(100,147,71);
    width: 100px;
}
.tab-content .wrapper .container-info .box .box-header .btn-group .btn-sort{
    background-color: rgb(112,155,194);
    width: 50px;
}
.tab-content .wrapper .container-info .box .box-header .btn-group .btn-save{
    background-color: rgb(65,129,194);
    width: 50px;
}
.tab-content .wrapper .container-info .box .box-header .btn-group .btn-setting{
    background-color: rgb(65,129,194);
    width: 100px;
}
.tab-content .wrapper .container-info .box .box-content{
    background-color: #fff;
}
.tab-content .wrapper .container-info .box .box-content .box-wrapper{
    border-radius: 4px;
    border: 1px solid rgb(214,220,234);
    padding: 0 10px 10px 10px;
}
.tab-content .wrapper .container-info .box .box-content .medicine-list{
    height: 295px;

}
.tab-content .wrapper .container-info .box .box-content .detail-info{
    height: 190px;
    padding: 0 5px;
}
.tab-content .wrapper .container-info .box .box-content .detail-info>div{
    padding: 0 5px;
    border-bottom: 1px solid rgb(236,236,237);
    height: 30px;
    line-height: 30px;
}
.tab-content .wrapper .container-info .box .box-content .detail-info>div strong{
    font-size: 1.3em;
    width: 110px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    height: 100%;
}
.tab-content .wrapper .container-info .box .box-content .detail-info>div span{
    font-size: 1.3em;
}
.tab-content .wrapper .container-info .box .box-content .medicine-list ul{
    list-style: none;
}
.tab-content .wrapper .container-info .box .box-content .medicine-list ul li{
    float: left;
    width: 55px;
    text-align: center;
    margin-top: 10px;
}
.tab-content .wrapper .container-info .box .box-content .medicine-list ul li a{
    font-size: 1.2em;
    color: #000;
}