ul.no-list-style{
    list-style: none;
}

.search-history-container{
    background-color: #fff;
    margin: 10px 0;
}
.search-history-container .header{
    padding-top: 17px;
}
.search-history-container .header h1{
    padding: 0 0 12px 15px;
    color: rgb(51,51,51);
    border-bottom: 2px solid rgb(65,129,194);
    font-size: 1.8em;
    width: 90px;
    float: left;
    height: 18px;

}
.search-history-container .header .hr{
    border-bottom: 2px solid rgb(213,219,231);
    float: right;
    width: 1080px;
    height: 18px;
    padding-bottom: 12px;
}
.search-history-container .content{
    padding: 30px 20px;
    position: relative;
}
.search-history-container .content .arrow{
    top: 50%;
    margin-top: -14px;
    position: absolute;
    cursor: text;
}
.search-history-container .content .arrow-left{
    left: 0;
    width: 18px;
    height: 28px;
    background-image: url("../images/arrow-left.png");
}
.search-history-container .content .arrow-left.active{
    background-image: url("../images/arrow-left-active.png");
    cursor: pointer;
}
.search-history-container .content .arrow-right{
    right: 0;
    width: 18px;
    height: 28px;
    background-image: url("../images/arrow-right.png");
}
.search-history-container .content .arrow-right.active{
    background-image: url("../images/arrow-right-active.png");
    cursor: pointer;
}
.search-history-container .content .patent-list{
    width: 1140px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.search-history-container .content .patent-list ul{
    position: absolute;
    top: 0;
    left: 0;
}
.search-history-container .content .patent-list ul li{
    float: left;
    padding-left: 25px;
    width: 255px;
}
.search-history-container .content .patent-list ul li h3{
    font-size: 1.6em;
    color: rgb(104,121,149);
    margin-bottom: 17px;
}
.search-history-container .content .patent-list ul li p{
    margin-bottom: 23px;
    color: rgb(70,70,70);
    font-size: 1.4em;
    line-height: 20px;
    height: 80px;
}
.search-history-container .content .patent-list ul li .operation a{
    margin-right: 15px;
    font-size: 1.5em;
}
.search-history-container .content .patent-list ul li .operation a.total-count{
    color: rgb(254,75,66);
}
.search-history-container .content .patent-list ul li .operation a.normal{
    color: rgb(16,150,236);
}
.ipc-container{
    height: 680px;
}
.ipc-container .nav{
    background-color: rgb(232,239,244);
    height: 100%;
    width: 245px;
    float: left;
}
.ipc-container .nav ul{
    padding-top: 20px;
}
.ipc-container .nav ul li a{
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}
.ipc-container .nav ul li a strong{
    width: 36px;
    height: 36px;
    background-image: url("../images/blue-circle.png");
    margin-right: 10px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 2.7em;
    margin-left: 20px;
}
.ipc-container .nav ul li a.select strong{
    background-image: url("../images/orange-circle.png");
}
.ipc-container .nav ul li a.select i{
    width: 26px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    background-image: url("../images/nav-arrow.png");

}
.ipc-container .nav ul li a>span{
    font-size: 1.4em;
    color: rgb(102,102,102);
}
.ipc-container .nav ul li a.select>span{
    font-weight: bold;
}
.ipc-container .nav ul li a .ipc-cn-name{
    padding-right: 30px;
}
.ipc-container .content{
    width: 945px;
    background-color: #fff;
    height: 100%;
    float: right;
}
.ipc-container .content .search-form{
    padding: 30px 20px 35px 20px;
}
.ipc-container .content .search-form .tab-group .tab-btn{
    float: left;
    padding: 8px 20px;
    color: rgb(47,102,153);
    margin-right: 25px;
    background-color: #fff;
}
.ipc-container .content .search-form .tab-group .tab-btn.select{
    color: #fff;
    background-color: rgb(65,129,194);
}
.ipc-container .content .search-form .input-area{
    width: 900px;
    position: relative;
    border: 1px solid rgb(65,129,194);
    padding: 1px 0;
}
.ipc-container .content .search-form .input-area input{
    border: none;
    height: 33px;
    width: 785px;
    line-height: 33px;
    padding: 0;
    border-width: 0;
}
.ipc-container .content .search-form .input-area .search-btn{
    background-color: rgb(65,129,194);
    height: 100%;
    line-height: 35px;
    padding: 0 35px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.8em;
}
.ipc-container .content .content-body{
    background-color: rgb(249,249,249);
    margin: 0 20px 0 20px;
    padding: 20px 10px 0 10px;
}
.ipc-container .content .content-body .tree-area{
    width: 400px;
    float: left;
}
.ipc-container .content .content-body h2{
    color: rgb(47,102,153);
    font-size: 1.6em;
    padding-bottom: 14px;
}
.ipc-container .content .content-body .tree-area .tree{
    width: 400px;
    height: 466px;
}
.ipc-container .content .content-body .desc-group{
    float: right;
    width: 450px;
}
.ipc-container .content .content-body .desc-group .desc{
    margin-bottom: 20px;
}
.ipc-container .content .content-body .desc-group .desc .desc-content{
    width: 450px;
    height: 208px;
    background-color: #fff;
    overflow-y: scroll;
}
.ipc-container .content .content-body .desc-group .desc h2{
    position: relative;
    padding-left: 30px;
}
.ipc-container .content .content-body .desc-group .desc h2 strong{
    background-image: url("../images/blue-circle-sm.png");
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.ipc-container .content .content-body .desc-group .desc h2 strong span{
    font-size: 13px;
    color: #fff;
}
.ipc-container .content .content-body .desc-group .desc .desc-content .desc-content-wrapper{
    padding: 13px 15px;
}
.ipc-container .content .content-body .desc-group .desc .desc-content .desc-content-wrapper p{
    font-size: 1.6em;
    line-height: 25px;
}
.ipc-container .content .content-body .desc-group .desc .desc-content .desc-content-wrapper p.name{
    font-weight: bold;
}
.ipc-container .content .content-body .desc-group .desc .desc-content .desc-content-wrapper p.mark{
    color: rgb(75,156,213);
}