.main-body-password{
    height: 675px;
    margin-top: 20px;
    border-top: 2px solid rgb(65,129,194);
    background-color: #fff;
    position: relative;
}
.main-body-password .content{
    padding: 20px;
}
.main-body-password .content h1{
    color: rgb(65,129,194);
    font-size: 2.4em;
    margin-bottom: 70px;
}
.main-body-password .content form{
    margin-left: 70px;
}
.main-body-password .content form>div{
    margin-bottom: 25px;
}
.main-body-password .content form>div label{
    width: 120px;
    text-align: right;
    font-size: 1.4em;
    color: rgb(102,102,102);
    margin-right: 15px;
}
.main-body-password .content form>div input[type='text']{
    width: 280px;
    height: 32px;
    line-height: 32px;
    border: 1px solid rgb(200,200,200);
}
.main-body-password .content form>div.captcha input[type='text']{
    width: 150px;
    margin-right: 25px;
}
.main-body-password .content form>div.captcha img{
    vertical-align: middle;
}
.main-body-password .content form>div.btn-group{
    padding-top: 20px;
    margin-left: 140px;
}
.main-body-password .content form>div.btn-group .btn-password{
    padding: 12px 0;
    width: 130px;
    font-size: 1.8em;
    margin-right: 25px;
    border-radius: 4px;
    text-align: center;
}
.main-body-password .content form>div.btn-group .btn-update{
    background-color: rgb(66,129,194);
}
.main-body-password .content form>div.btn-group .btn-back{
    background-color: rgb(255,151,36);
}
.main-body-password .banner-password{
    width: 335px;
    height: 300px;
    background-image: url("../images/banner.png");
    position: absolute;
    right: 0;
    bottom: 0;
}