.normal-dialog{
    width: 990px;
}
.normal-dialog .container{
    padding: 20px;
    background-color: #fff;
}
.normal-dialog .container .container-header{
    height: 30px;
    line-height: 30px;
}
.normal-dialog .container .container-header h1.header-name{
    font-size: 1.6em;
    color: rgb(51,51,51);
    border-bottom: 2px solid rgb(65,129,194);
    height: 100%;
    float: left;
    width: 85px;
}
.normal-dialog .container .container-header .hr{
    float: right;
    border-bottom: 2px solid rgb(213,219,231);
    height: 100%;
    width: 857px;
}
.normal-dialog .container .container-body{
    padding: 10px;
    background-color: rgb(242,244,249);
}
.normal-dialog .container .form{
    margin-top: 40px;
    margin-bottom: 70px;
}
.normal-dialog .container .form label{
    font-size: 1.5em;
    color: rgb(29,113,183);
    font-weight: bold;
}
.normal-dialog .container .form input{
    width: 595px;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 5px;
    border: 2px solid rgb(112,155,194);
    margin-left: 5px;
}
.normal-dialog .container .form .btn-search{
    background-color: rgb(66,129,194);
    font-size: 1.4em;
    width: 100px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin-left: 10px;
    vertical-align: middle;
}
.normal-dialog .container .form .btn-reset{
    background-color: rgb(232,116,65);
    font-size: 1.4em;
    width: 100px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin-left: 10px;
    vertical-align: middle;
}
.normal-dialog .container .container-body .container-btn .btn-group{
    float: right;
    margin-bottom: 10px;
}
.normal-dialog .container .container-body .container-btn .btn-group .btn{
    background-color: rgb(66,129,194);
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin-left: 20px;
    padding: 0;
}
.normal-dialog .container .container-body .container-table{
    background-color: #fff;
    padding: 10px;
}
.normal-dialog .container .container-body .container-table table{
    width: 100%;
    text-align: center;
}
.normal-dialog .container .container-body .container-table table th{
    color: rgb(102,102,102);
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid rgb(236,236,237);
    padding: 15px 0;
    vertical-align: middle;
    word-wrap: break-word;
}
.normal-dialog .container .container-body .container-table table td{
    color: rgb(80,80,80);
    font-size: 1.4em;
    padding: 15px 0;
    vertical-align: middle;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(236,236,237);
}



.normal-dialog .container .container-body .container-table table td>.btn-operation{
    font-size: 12px;
    color: rgb(66,129,194);
    margin: 0 10px;
}
.normal-dialog .container .container-body .container-page{
    padding: 15px 0 0 0;
}
.normal-dialog .container .container-body .container-page .left-area{
    float: left;
}
.normal-dialog .container .container-body .container-page .right-area{
    float: right;
}
.normal-dialog .container .container-body .container-page span{
    font-size: 1.2em;
    color: rgb(102,102,102);
}
.normal-dialog .container .container-body .container-page .left-area span{
    margin-right: 30px;
}
.normal-dialog .container .container-body .container-page .right-area span{
    margin-left: 20px;
}