.detail-main-body .left{
    float: left;
}
.detail-main-body .right{
    float: right;
}


.detail-main-body{
    margin-top: 20px;
    background-color: #ffffff;
}
.detail-main-body .detail-content-header{
    padding: 15px 20px 12px 20px;
    border-bottom: rgb(47,102,153) solid 2px;
}
.detail-main-body .detail-content-header .header-info{
    float: left;
}
.detail-main-body .detail-content-header .header-info .header-info-title{
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-header .header-info .header-info-title .header-info-title-text{
    font-size: 1.8em;
}
.detail-main-body .detail-content-header .header-info .header-info-title .header-info-title-num{
    font-size: 1.4em;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-header .header-info .header-info-title .header-info-title-num .total-num{
    color: rgb(65,129,194);
}
.detail-main-body .detail-content-header .header-info .select-all{
    margin-top: 16px;
}
.detail-main-body .detail-content-header .header-info .select-all .select-all-text{
    font-size: 1.6em;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-header .operation-group{
    float: right;
}
.detail-main-body .detail-content-header .operation-group ul{
    list-style: none;
}
.detail-main-body .detail-content-header .operation-group ul li{
    float: left;
    padding: 0 20px;
}
.detail-main-body .detail-content-header .operation-group ul li a{
    text-align: center;
}
.detail-main-body .detail-content-header .operation-group ul li a.in-bl>div{
    margin-top: 6px;
    font-size: 1.4em;
    color: #000000;
}
.detail-main-body .detail-content-body{

}
.detail-main-body .detail-content-body .left .patent-list-container{
    padding: 0 50px 0 20px;
    margin: 20px 0 30px 0;
    width: 200px;
    height: 1060px;
    position: relative;
    overflow-y: hidden;
}
.detail-main-body .detail-content-body .left .patent-list-container .scroll-container{
    padding: 7px;
    height: 1044px;
    border: 1px solid rgb(230,233,241);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 14px;
}
.detail-main-body .detail-content-body .left .patent-list-container .scroll-container .scroll-bar{
    width: 10px;
    border-radius: 5px;
    height: 100%;
    border: 1px solid rgb(234,233,236);
    background-color: rgb(239,241,246);
    position: relative;
}
.detail-main-body .detail-content-body .left .patent-list-container .scroll-container .scroll-bar .scroll{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(65,129,194);
    cursor: pointer;
    border-radius: 5px;
}
.detail-main-body .detail-content-body .left .patent-list-container ul{
    list-style: none;
    position: relative;
}
.detail-main-body .detail-content-body .left .patent-list-container ul li{
    border-bottom: 1px solid rgb(213,219,231);
    margin-bottom: 19px;
    min-height: 150px;
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .patent-title{
    margin-bottom: 10px;
    position: relative;
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .patent-title span{
    font-size: 1.4em;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .patent-title.select span{
    color: rgb(255,151,36);
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .patent-title a.read-state{
    color: #ffffff;
    background-color: rgb(197,204,220);
    padding: 2px 3px;
    font-size: 1em;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 2px;
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .patent-title.select a.read-state{
    background-color: rgb(255,151,36);
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .patent-abs{
    padding-left: 18px;
    font-size: 1.2em;
    color: rgb(102,102,102);
    margin-bottom: 18px;
    line-height: 19px;
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .btn-group{
    padding-left: 15px;
    margin-bottom: 20px;
}
.detail-main-body .detail-content-body .left .patent-list-container ul li .btn-group .patent-list-btn{
    margin-left: 2px;
    background-color: rgb(65,129,194);
    font-size: 1.2em;
    padding: 4px 8px;
    float: left;
}






.detail-main-body .detail-content-body .right{

}
.detail-main-body .detail-content-body .right .patent-info{
    padding: 20px 30px 0 30px;
    border-right: rgb(213,219,231) 1px solid;
    width: 629px;
}
.detail-main-body .detail-content-body .right .patent-info ul.tab-group{
    list-style: none;
    border-bottom: rgb(213,219,231) 1px solid;
    border-left: rgb(213,219,231) 1px solid;
    width: 628px;
}
.detail-main-body .detail-content-body .right .patent-info ul.tab-group li{
    border-top: rgb(213,219,231) 1px solid;
    border-right: rgb(213,219,231) 1px solid;
    float: left;
    position: relative;
}
.detail-main-body .detail-content-body .right .patent-info ul.tab-group li a{
    color: rgb(141,153,179);
    font-size: 1.8em;
    padding: 12px 45px;
    background-color: rgb(239,241,246);
}
.detail-main-body .detail-content-body .right .patent-info ul.tab-group li a.select{
    background-color: #ffffff;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-body .right .patent-info ul.tab-group li a+i{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: none;
}
.detail-main-body .detail-content-body .right .patent-info ul.tab-group li a.select+i{
    display: block;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content{
    padding: 30px 0 0 0;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content ul{
    list-style: none;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content ul li{
    float: left;
    margin-right: 40px;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content ul li a{
    font-size: 1.4em;
    color: rgb(175,175,175);
    font-weight: bold;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content ul li a.select{
    color: rgb(65,129,194);
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container{
    text-align: left;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container{
    padding: 20px 0 30px 0;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container table{
    border-bottom: 1px solid rgb(213,219,231);
    border-left: 1px solid rgb(213,219,231);
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container table tr td{
    border-top: 1px solid rgb(213,219,231);
    border-right: 1px solid rgb(213,219,231);
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container table tr td.first-td{
    width: 240px;
    background-color: rgb(245,247,250);
    font-size: 1.4em;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container table tr td.second-td{
    width: 385px;
    font-size: 1.4em;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container table tr td.patent-title{
    color: rgb(65,129,194);
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .table-container table tr td>div{
    padding: 10px 0 10px 12px;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .abstract-area .left .abstract-header h1{
    padding-bottom: 10px;
    border-bottom: rgb(65,129,194) solid 2px;
    font-size: 1.6em;
    color: rgb(51,51,51);
    height: 16px;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .abstract-area .left .abstract-header .hr{
    width: 385px;
    border-bottom: rgb(213,219,231) solid 2px;
    margin-left: 2px;
    padding-bottom: 10px;
    height: 16px;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .abstract-area .left .btn-group{
    padding: 20px 0;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .abstract-area .left .btn-group .btn-translate{
    background-color: rgb(65,129,194);
    padding: 6px 15px 6px 35px;
    font-size: 1.6em;
    background-image: url("../images/translate.png");
    background-position: 10px center;
    background-repeat: no-repeat;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .abstract-area .left p{
    font-size: 1.4em;
    color: rgb(51,51,51);
    width: 420px;
    line-height: 25px;
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .abstract-area .right h1{
    padding-bottom: 10px;
    font-size: 1.6em;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-body .right .patent-info .tab-content .abstract-area .right .figure{
    width: 160px;
    height: 230px;
    border: 1px solid rgb(213,219,231);
    text-align: center;
    vertical-align: middle;
}





.detail-main-body .detail-content-body .right .more-info{
    padding: 20px 0 0 30px;
    width: 200px;
}
.detail-main-body .detail-content-body .right .more-info .container{
    margin-bottom: 70px;
}
.detail-main-body .detail-content-body .right .more-info .container h1{
    padding-bottom: 15px;
}
.detail-main-body .detail-content-body .right .more-info .container h1 .more-info-title{
    font-size: 1.6em;
    color: rgb(51,51,51);
}
.detail-main-body .detail-content-body .right .more-info .container h1 .more-link a{
    font-size: 1.4em;
    margin-right: 20px;
    color: rgb(153,153,153);
    font-weight: lighter;
}
.detail-main-body .detail-content-body .right .more-info .container ul{
    list-style: none;
}
.detail-main-body .detail-content-body .right .more-info .container ul li{
    border-left: 1px solid rgb(112,155,194);
    padding: 10px 0 10px 15px;
    position: relative;
    width: 184px;
}
.detail-main-body .detail-content-body .right .more-info .container ul li .time{
    color: rgb(182,182,182);
    font-size: 1.2em;
    margin-right: 15px;
}
.detail-main-body .detail-content-body .right .more-info .container ul li .text{
    color: rgb(51,51,51);
    font-size: 1.2em;
}
.detail-main-body .detail-content-body .right .more-info .container ul li .circle{
    background-image: url("../images/circle.png");
    width: 13px;
    height: 13px;
    position: absolute;
    left: -6.5px;
    top: 50%;
    margin-top: -6.5px;
}
