/*****************检索历史列表开始********************************/
.search-history-container{
    background-color: #fff;
    margin: 20px 0;
}
.search-history-container .header{
    padding-top: 17px;
}
.search-history-container .header h1{
    padding: 0 0 12px 15px;
    color: rgb(51,51,51);
    border-bottom: 2px solid rgb(65,129,194);
    font-size: 1.8em;
    width: 90px;
    float: left;
    height: 18px;

}
.search-history-container .header .hr{
    border-bottom: 2px solid rgb(213,219,231);
    float: right;
    width: 1080px;
    height: 18px;
    padding-bottom: 12px;
}
.search-history-container .content{
    padding: 30px 20px;
    position: relative;
}
.search-history-container .content .arrow{
    top: 50%;
    margin-top: -14px;
    position: absolute;
    cursor: text;
}
.search-history-container .content .arrow-left{
    left: 0;
    width: 18px;
    height: 28px;
    background-image: url("../images/arrow-left.png");
}
.search-history-container .content .arrow-left.active{
    background-image: url("../images/arrow-left-active.png");
    cursor: pointer;
}
.search-history-container .content .arrow-right{
    right: 0;
    width: 18px;
    height: 28px;
    background-image: url("../images/arrow-right.png");
}
.search-history-container .content .arrow-right.active{
    background-image: url("../images/arrow-right-active.png");
    cursor: pointer;
}
.search-history-container .content .patent-list{
    width: 1140px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.search-history-container .content .patent-list ul{
    position: absolute;
    top: 0;
    left: 0;
}
.search-history-container .content .patent-list ul li{
    float: left;
    padding-left: 25px;
    width: 255px;
}
.search-history-container .content .patent-list ul li h3{
    font-size: 1.6em;
    color: rgb(104,121,149);
    margin-bottom: 17px;
}
.search-history-container .content .patent-list ul li p{
    margin-bottom: 23px;
    color: rgb(70,70,70);
    font-size: 1.4em;
    line-height: 20px;
    height: 80px;
}
.search-history-container .content .patent-list ul li .operation a{
    margin-right: 15px;
    font-size: 1.5em;
}
.search-history-container .content .patent-list ul li .operation a.total-count{
    color: rgb(254,75,66);
}
.search-history-container .content .patent-list ul li .operation a.normal{
    color: rgb(16,150,236);
}
/*****************检索历史列表结束********************************/


.container-table{
    height: 780px;
}
.container-table .container-custom{
    width: 240px;
    background-color: rgb(234,238,245);
    height: 100%;
    float: left;
}
.container-table .container-custom .wrapper{
    padding: 13px 10px 0 10px;
}
.container-table .container-custom .wrapper h1{
    font-size: 1.8em;
    color: rgb(20,112,180);
    padding-bottom: 18px;
    padding-top: 3px;
    position: relative;
}
.container-table .container-custom .wrapper h1 i{
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("../images/add-icon.png");
}
.container-table .container-custom .wrapper .custom-list{
    margin-bottom: 15px;
}
.container-table .container-custom .wrapper .custom-list h2{
    font-size: 1.4em;
    background-color: rgb(65,129,194);
    height: 40px;
    padding-left: 35px;
    padding-right: 37px;
    position: relative;
    color: #fff;
    line-height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}
.container-table .container-custom .wrapper .custom-list h2 .custom-arrow-up{
    width: 16px;
    height: 10px;
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -5px;
    background-image: url("../images/custom-arrow-up.png");
}
.container-table .container-custom .wrapper .custom-list h2 .custom-arrow-down{
    width: 16px;
    height: 10px;
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -5px;
    background-image: url("../images/custom-arrow-down.png");
}
.container-table .container-custom .wrapper .custom-list h2 .custom-setting-header{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -9px;
    background-image: url("../images/custom-setting-white.png");
}
.container-table .container-custom .wrapper .custom-list ul{
    list-style: none;
    padding: 0 8px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.container-table .container-custom .wrapper .custom-list ul li{
    height: 40px;
    line-height: 40px;
    color: rgb(122,122,122);
    font-size: 1.4em;
    border-bottom: 1px solid rgb(238,238,238);
    padding-left: 55px;
    padding-right: 25px;
    position: relative;
    cursor: pointer;
}
.container-table .container-custom .wrapper .custom-list ul li.last{
    border-bottom: none;
}
.container-table .container-custom .wrapper .custom-list ul li .custom-arrow-right{
    width: 11px;
    height: 11px;
    position: absolute;
    left: 38px;
    top: 50%;
    margin-top: -5.5px;
    background-image: url("../images/custom-arrow-right.png");
}
.container-table .container-custom .wrapper .custom-list ul li .custom-setting{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -9px;
    background-image: url("../images/custom-setting-blue.png");
}
.container-checkbox{
    margin-bottom: 10px;
}
.container-checkbox .row{
    padding-bottom: 20px;
}
.container-checkbox .row .checkbox{
    width: 13px;
    height: 13px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 1px;
}
.container-checkbox .row label{
    text-align: left;
    font-size: 1.4em;
    color: rgb(81,98,116);
    position: relative;
    padding-left: 17px;
}
.container-checkbox .row label.width55{
    width: 55px;
}

.container-checkbox .row .checkbox.checkbox-normal{
    background-image: url("../images/checkbox-normal.png");
}
.container-checkbox .row .checkbox.checkbox-normal.checked{
    background-image: url("../images/checkbox-normal-checked.png");
}
.container-table .form-table{
    width: 930px;
    float: right;
    height: 100%;
    background-color: #fff;
}
.container-table .form-table .wrapper{
    padding: 20px 20px 0 20px;
}
.container-table .form-table .wrapper .form-table-header{
    margin-bottom: 25px;
    height: 28px;
}
.container-table .form-table .wrapper .form-table-header h1{
    font-size: 1.6em;
    color: rgb(51,51,51);
    border-bottom: 2px solid rgb(65,129,194);
    width: 68px;
    height: 100%;
    float: left;
}
.container-table .form-table .wrapper .form-table-header .hr{
    height: 100%;
    float: right;
    border-bottom: 2px solid rgb(213,219,231);
    width: 820px;
    position: relative;
}
.container-table .form-table .wrapper .form-table-header .hr .btn-group{
    position: absolute;
    top: 0;
    right: 5px;
}
.container-table .form-table .wrapper .form-table-header .hr .btn-group .btn-remove{
    background-color: rgb(117,178,114);
    padding: 5px 5px 5px 20px;
    background-image: url("../images/remove-icon.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    border-radius: 3px;
    font-size: 1.4em;
}
.container-table .form-table .wrapper .form-table-header .hr .btn-group .btn-setting{
    background-color: rgb(107,154,164);
    padding: 5px 5px 5px 20px;
    background-image: url("../images/setting-icon.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    border-radius: 3px;
    font-size: 1.4em;
}
.container-table .form-table .wrapper form{

}
.container-table .form-table .wrapper form>div{
    margin-bottom: 27px;
    padding-right: 22px;
    position: relative;
}
.container-table .form-table .wrapper form>div label{
    width: 85px;
    text-align: right;
    color: rgb(125,125,125);
    font-size: 1.2em;
    margin-right: 5px;
}
.container-table .form-table .wrapper form>div input[type='text']{
    width: 165px;
    height: 25px;
    line-height: 25px;
    border: 1px solid rgb(192,190,190);
    padding: 0;
}
.container-table .form-table .wrapper form>div .collapse{
    padding-left: 45px;
    position: relative;
    border: 1px solid rgb(192,190,190);
}
.container-table .form-table .wrapper form>div .collapse select{
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 25px;
    border-right: 1px solid rgb(192,190,190);
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.container-table .form-table .wrapper form>div .collapse ul li{
    padding: 5px 10px;
    font-size: 1.4em;
    text-align: center;
    cursor: pointer;
}
.container-table .form-table .wrapper form>div .collapse input[type='text']{
    width: 117px;
    border: none;
    padding-left: 3px;
}
.container-table .form-table .wrapper form>div i{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    background-image: url("../images/question-icon.png");
}
.container-table .form-table .wrapper .area-exp .area-exp-header{
    height: 23px;
    margin-bottom: 20px;
}
.container-table .form-table .wrapper .area-exp .area-exp-header h1{
    font-size: 1.6em;
    color: rgb(51,51,51);
    border-bottom: 2px solid rgb(65,129,194);
    width: 100px;
    height: 100%;
    float: left;
}
.container-table .form-table .wrapper .area-exp .area-exp-header .hr{
    height: 100%;
    float: right;
    border-bottom: 2px solid rgb(213,219,231);
    width: 787px;
}
.container-table .form-table .wrapper .area-exp .area-exp-content{
    padding: 15px 20px;
    background-color: rgb(252,252,252);
    border: 1px solid rgb(213,220,236);
    position: relative;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .btn-group .btn-exp-operation{
    width: 45px;
    padding: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.4em;
    background-color: rgb(231,236,240);
    margin-right: 15px;
    color: rgb(50,100,153);
}
.container-table .form-table .wrapper .area-exp .area-exp-content .btn-group .btn-other{
    width: 105px;
    color: #fff;
    background-color: rgb(155,184,212);
    text-decoration: underline;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-textarea{
    margin-top: 15px;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-textarea textarea{
    width: 670px;
    height: 170px;
    border: 1px solid rgb(159,186,215);
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-operation{
    position: absolute;
    right: 20px;
    bottom: 15px;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-operation ul{
    list-style: none;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-operation ul li{
    margin-bottom: 10px;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-operation ul li .btn-generate{
    background-color: rgb(252,180,78);
    background-image: url("../images/generate.png");
    background-repeat: no-repeat;
    background-position: 7px center;
    padding: 10px 10px 10px 33px;
    border-radius: 3px;
    font-size: 1.6em;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-operation ul li .btn-empty{
    background-color: rgb(244,98,101);
    background-image: url("../images/empty.png");
    background-repeat: no-repeat;
    background-position: 7px center;
    padding: 10px 10px 10px 33px;
    border-radius: 3px;
    font-size: 1.6em;
}
.container-table .form-table .wrapper .area-exp .area-exp-content .area-operation ul li .btn-search{
    background-color: rgb(77,168,226);
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 7px center;
    padding: 10px 37px 10px 49px;
    border-radius: 3px;
    font-size: 1.6em;
}