@charset "utf-8";
.main-body{}
.fixed-menu{
    position: fixed;
    bottom: 280px;
    left:50%;
    margin-left:615px;
    background-color: #ffffff;
    padding: 10px 20px 30px 20px;
}
.fixed-menu ul{list-style: none;text-align: center;}
.fixed-menu ul li{
    margin-bottom: 15px;
}
.fixed-menu ul li a{
    color: #000000;
    font-size: 1.4em;
}
.fixed-menu .arrow{position: absolute;left: 50%;bottom: 0;background-image: url("../images/arrow.png");width: 31px;height: 15px;margin-left: -15px;}
/*.operation{width: 174px;margin: 0 auto;}
.operation>li{float: left;margin: 0 4px;cursor: pointer;}*/

.main-body .re-le{width:240px;height:100%;float:left;}
.main-body .re-le .le{height:100%;background:#FFF;padding:0 30px;}
.main-body .re-le .le .title span{width:67px;}
.main-body .re-le .le .title h2{margin-left:0;}
.main-body .re-le .le .le-list{}
.main-body .re-le .le .le-list .title-type{min-height: 43px;border-bottom:1px #d9dfe9 dashed;}
.main-body .re-le .le .le-list .title-type h3{height:43px;line-height:43px;text-align:left;  font-size: 1.5em;/*font-size:13px; */color:#545454;cursor: pointer;}
.main-body .re-le .le .le-list .title-type h3 span{width:11px;height:11px;background: url("../images/+.png") no-repeat center center;margin-right:8px;}
.main-body .re-le .le .le-list .title-type h3.active span{background: url("../images/-.png") no-repeat center center;}
.main-body .re-le .le .le-list .title-type ul{display:none;padding-left:24px;}
.main-body .re-le .le .le-list .title-type h3.active + ul{display:block;}
.main-body .re-le .le .le-list .title-type ul li{padding:7px 0 7px 10px;background: url("../images/list.png") no-repeat left center;}
.main-body .re-le .le .le-list .title-type ul li a{color:#969697;}

.main-body .re-ri{width:931px;float:right;}
.main-body .re-ri .ri-top{background: #FFF;padding: 10px 0;}
.main-body .re-ri .ri-top .btn-group{margin-left: 30px;float: left;}
.main-body .re-ri .ri-top .btn-group .result-style-btn{background-color: rgb(249,250,253);color: #000000;padding: 7px 5px 7px 30px;border: 1px solid rgb(213,219,231);margin-right: -1px;float: left;font-size: 1.6em;}
.main-body .re-ri .ri-top .btn-group .result-style-btn.search-style-btn{background-image: url("../images/search_style_1.png");background-position: 5px center;background-repeat: no-repeat;}
.main-body .re-ri .ri-top .btn-group .result-style-btn.search-style-btn.select{background-image: url("../images/search_style_2.png");background-color: rgb(255,151,36);color: #ffffff;cursor: default;}
.main-body .re-ri .ri-top .btn-group .result-style-btn.list-style-btn{background-image: url("../images/list_style_1.png");background-position: 5px center;background-repeat: no-repeat;}
.main-body .re-ri .ri-top .btn-group .result-style-btn.list-style-btn.select{background-image: url("../images/list_style_2.png");background-color: rgb(255,151,36);color: #ffffff;cursor: default;}
.main-body .re-ri .ri-top .btn-group .result-style-btn.picture-style-btn{background-image: url("../images/picture_style_1.png");background-position: 5px center;background-repeat: no-repeat;}
.main-body .re-ri .ri-top .btn-group .result-style-btn.picture-style-btn.select{background-image: url("../images/picture_style_2.png");background-color: rgb(255,151,36);color: #ffffff;cursor: default;}
.main-body .re-ri .ri-top .select-group{float: left;}
.main-body .re-ri .ri-top .select-group select{height: 32px;margin: 0 6px;font-size: 1.6em;border: 1px solid rgb(213,219,231);}
.main-body .re-ri .ri-top .page-group{float: right;margin-right: 30px;padding: 8px 0;}
.main-body .re-ri .ri-top .page-group ul{list-style: none;float: left;}
.main-body .re-ri .ri-top .page-group ul li{float: left;margin-right: 10px;}
.main-body .re-ri .ri-top .page-group ul li a{display:inline-block;*display:inline;*zoom:1;font-size: 1.3em;color: rgb(47,102,153);}
.main-body .re-ri .ri-top .page-group ul li a.select{color: rgb(124,124,124);cursor: text;}
.main-body .re-ri .ri-top .page-group .page-information{float: right;}
.main-body .re-ri .ri-top .page-group .page-information span{font-size: 1.2em}
.main-body .re-ri .ri-top .page-group .page-information .data-total{margin-left: 16px;}
.main-body .re-ri .ri-top .page-group .page-information .page-total{margin-left: 6px;}

.main-body .re-ri .re-content{background: #FFF;margin-top:11px;}

