.main-body{height:1116px;min-height:924px;}
.main-body .re-ri .re-content{padding: 0;}
.main-body .re-ri .re-content .content-item-wrapper{float: left;width: 309px;height: 350px;border-bottom: rgb(226,226,226) solid 1px;border-right: rgb(226,226,226) dotted 1px;}
.main-body .re-ri .re-content .content-item-wrapper .content-item{padding: 17px 13px 0px 13px;}
.main-body .re-ri .re-content .content-item-wrapper .content-item ul{list-style: none;}
.main-body .re-ri .re-content .content-item-wrapper .content-item>ul>li{padding: 3px 0;font-size: 1.4em;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden; }
.main-body .re-ri .re-content .content-item-wrapper .content-item>ul>li>img{margin-top: 20px;}
.main-body .re-ri .re-content .content-item-wrapper .content-item>ul>li .operation{width: 174px;margin: 0 auto;margin-top: 20px;}
.main-body .re-ri .re-content .content-item-wrapper .content-item>ul>li .operation>li{float: left;margin: 0 4px;cursor: pointer;}

