@charset "utf-8";


.main-body{margin-bottom:20px;}
.main-body .main-le,.main-body .main-ri{background-color:#FFF;height:618px;}
.main-body .main-le{float:left;width:290px;}
.main-body .main-le h2{/*font-size:24px;*/font-size:2.6em;color:#4181c2;background:url("../../images/title-bg.png") repeat-x top;padding-top:22px;padding-left:25px;}
.main-body .main-le div.option{margin-top:50px;}
.main-body .main-le div.option label{display:block;margin-bottom:20px;}
.main-body .main-le div.option span{display:block;/*font-size:14px;*/font-size:1.6em;color:#252525;height:36px;line-height: 36px;width:100px;text-align:center;float:left;}
.main-body .main-le div.option div.input{height:36px;width:150px;border:1px solid #dadada;float:left;}
.main-body .main-le div.option div.input input{width:140px;height:20px;padding:8px 5px;border:none;outline:none;}
.main-body .main-le div.option div.input select{width:100%;height:100%;border:none;outline:none;}
.main-body .main-le div.button{width:249px;margin:44px auto;text-align: center;}
.main-body .main-le div.button a{/*font-size:18px;*/font-size:2em;padding:12px 33px;margin-right:5px;}
.main-body .main-ri{float:right;width:880px;}
.main-body .main-ri .top-menu{width:880px;height:49px;background-color:#f2f4f9;position:relative;}
.main-body .main-ri .top-menu ul{display:block;height:49px;border-bottom:1px solid #dadada;}
.main-body .main-ri .top-menu ul li{display:block;float:left;height:50px;width:220px;border-right:1px solid #dadada;}
.main-body .main-ri .top-menu ul li a{display:block;width:100%;height:100%;line-height:49px;text-align:center;/*font-size:16px;*/font-size:1.8em;color:#838383;}
.main-body .main-ri .top-menu ul li.active{border-bottom:1px solid #FFF;border-right:1px solid #dadada;;background:url("../../images/title-bg.png") repeat-x top #FFF;}
.main-body .main-ri .top-menu ul li.active a{color:#4181c2;font-weight:bold;}
.main-body .main-ri .top-menu .publish{position:absolute;height:49px;line-height:49px;right:0;top:0;padding-left:30px;padding-right:25px;background:url("../images/publish.png") no-repeat left center;}
.main-body .main-ri .top-menu .publish a{/*font-size:16px;*/font-size:1.8em;color:#ff9724;}

.main-body .main-ri .middle-list {height:467px;padding:30px 30px 0 30px;}
/*.main-body .main-ri .middle-list .table{}*/
.main-body .main-ri .middle-list .table thead .table-title{width:50%;padding:10px 10px 10px 18px;}
.main-body .main-ri .middle-list .table thead .table-time{width:25%;padding:10px 10px 10px 18px;}
.main-body .main-ri .middle-list .table thead .table-user{width:25%;padding:10px 10px 10px 18px;}
.main-body .main-ri .middle-list .table .table-title  h3 {background:url("../images/table-title.png") no-repeat left center;}
.main-body .main-ri .middle-list .table .table-time  h3 {background:url("../images/table-time.png") no-repeat left center;}
.main-body .main-ri .middle-list .table .table-user  h3 {background:url("../images/table-user.png") no-repeat left center;}

.main-body .main-ri .middle-list .table tbody td{padding:20px 5px 20px 36px;font-family:"SimSun";/*font-size:12px;*/font-size:1.4em;color:#252525;}






.main-body .main-ri .bottom-page{height:72px;padding:0 30px;}
/*
.main-body .main-ri .bottom-page .page{}*/
